@import "tailwindcss";

@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

@media (max-width: 768px) {
  main {
    margin-left: 0 !important;
    padding: 80px 15px 20px 15px !important;
  }
}